{% if site.gravatar_email %}
<section>
	<span>
		<img src="{% gravatar_image %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
	</span>
  <h2>Jakob Lehner</h2>
  <p>Hi, I´m an austrian software developer.</p>
  <p>I´m enthusiastic about web and mobile development. This blog is about technology and tools I love and use everyday like Ruby, CoffeeScript, VIM, HTML5 and much more.</p>
  <p>More about me:</p> <a href="http://www.jakoblehner.com/">jakoblehner.com</a>
</section>
{% endif %}
