[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octopress-themes/budget-bumbago.git
